@model HazarSchool.ViewModels.RequestModels.StudentRequestModel.StudentLoginRequestModel

<<style>
    #sp:hover {
        font-size: 150%;
    }
    #sp {
        color: white;
        background-color: darkcyan;
        font-size: 130%;
        font-weight: bold;
        padding: 4px 8px;
    }
    button {
        margin-top: 40px;
        background-color: darkcyan;
        margin-left: 15px;
    }
</style>
<h1> Login </h1>
<form asp-action="Login">
    @if(ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }
    <div class="col-md-6" style="margin-top: 40px; font-size: larger; font-weight: bold; color: darkcyan">
        <label asp-for="Email" class="form-label">Student Email adress</label>
        <input asp-for="Email" type="text" class="form-control">
    </div>
   <div class="col-md-6" style="margin-top: 40px; font-size: larger; font-weight: bold; color: darkcyan">
        <label asp-for="Password" class="form-label">password</label>
        <input asp-for="Password" type="text" class="form-control">
    </div>
    
    <button id="sp" type="submit"> Sign in</button>
</form>
